$color-naranja: #ff6600;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-celeste: #007bff;
$color-rojo: #ff0000;
$color-gris: #111827;
$color-verde: #16a34a;

$color-blancogris: #ddd;

$color-blancomarron: #999;

$color-amarillo: #f0c14b;

$color-amarillogris:#a88324;

$color-turquesa: #14cdee;